#board {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
}

#with-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}